html, body
{
    min-width: 200px;
    min-height: 350px;
    background: #FAFAFA;
    color: #212121;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 1.5em;
}

body * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

input {
    accent-color: #0b7e30;
}

.flex-col { display: flex; flex-direction: column; gap: 1em;}
.flex-row { display: flex; flex-direction: row; gap: 1em; align-items: center;}
.no-gap { gap: 0 !important }
.small-gap { gap: 0.5em !important }

h1 { font-size: 1.3em; color: #0b7e30; }
small { opacity: .5; font-weight: 600; }

hr {
    border-width: 0;
    border-bottom: 1px currentColor solid;
    width: 100%;
}

.refresh-disclaimer {
    margin-top: auto;
    padding: 1em;
    border-radius: 4px;
    background: #fffbe4;
    border: solid 3px #ffdd1d;
    color: #6b5900;
    font-weight: 500;
}